<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ブキ一覧</title>
</head>
<body>
<h1>ブキ一覧</h1>
<form th:action="@{/weaponSearch}" method="get">
    <div>
        <label>検索文字列:</label>
        <input type="text" name="keyword" th:value="${keyword}" />
    </div>

    <div>
        <label><input type="radio" name="matchType" value="partial" 
               th:checked="${matchType == 'partial'}" /> 部分一致</label>
        <label><input type="radio" name="matchType" value="exact" 
               th:checked="${matchType == 'exact'}" /> 完全一致</label>
    </div>

    <div>
        <span>検索対象：</span>
        <label><input type="checkbox" name="fields" value="type" th:checked="${fields != null and fields.contains('type')}" /> 種別</label>
        <label><input type="checkbox" name="fields" value="name" th:checked="${fields != null and fields.contains('name')}" /> 名前</label>
        <label><input type="checkbox" name="fields" value="weaponRange" th:checked="${fields != null and fields.contains('weaponRange')}" /> 射程</label>
        <label><input type="checkbox" name="fields" value="damage" th:checked="${fields != null and fields.contains('damage')}" /> 威力</label>
        <label><input type="checkbox" name="fields" value="sub" th:checked="${fields != null and fields.contains('sub')}" /> サブ</label>
        <label><input type="checkbox" name="fields" value="special" th:checked="${fields != null and fields.contains('special')}" /> スペシャル</label>
    </div>

    <div>
        <button type="submit">検索</button>
    </div>
</form>

<hr/>
<form th:action="@{/weapon/action}" method="get">
    <div style="margin-top: 10px;">
        <button type="submit" formaction="/weaponRegister">登録</button>
        <button type="submit" formaction="/weaponEdit">編集</button>
        <button type="submit" formaction="/weaponDelete">削除</button>
    </div>
                <table border="1">
                    <thead>
                            <tr>
                                  <th></th>
                                  <th>ブキ種別</th>
                                  <th>ブキ名</th>
                                  <th>射程</th>
                                  <th>威力</th>
                                  <th>サブ</th>
                                  <th>スペシャル</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr th:each="weapon : ${weaponList}">
                            <td>
                                <input type="checkbox" name="weaponIds" th:value="${weapon.id}" />
                            </td>
                            <td th:text="${weapon.type}"></td>
                            <td th:text="${weapon.name}"></td>
                            <td th:text="${weapon.weaponRange}"></td>
                            <td th:text="${weapon.damage}"></td>
                            <td th:text="${weapon.sub}"></td>
                            <td th:text="${weapon.special}"></td>
                        </tr>
                    </tbody>
                </table>
</form>
</body>
</html>
